html{
  background-color: white;
  padding: 0;
}

body{
  padding: 2rem;
  width: 50%;
  margin: 0 auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  display: flex;
  font-family:  Helvetica, Arial, sans-serif;
  flex-direction: column;
}

a{
  display: block;
  border-radius: 5px;
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.2s;
  &:hover{
    background-color: lightgray;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
  }
}

li{
  list-style: none;
  margin: 1rem;
}

form{
  margin: 2rem;
}
